#header {
	padding-top: 5em;
	padding-bottom: 1em;
}

@media screen and (min-width: 1200px){
	#header {
		background-image: url(../img/baum-2_darkest.jpg);
		background-size: 100% Auto;
		background-repeat: no-repeat;
	}
}

.company.baumkosmos span {
}

@media screen and (max-width: 1200px){
	
	.company {
		margin-bottom: 5em;
	}
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

}
