#header {
	padding-top: 8em;
}

.logo {
	width: 80%;
	max-width: 21em;
}

.services {
	max-width: 55em;
	padding: 2em;
	margin: auto;
	color: #aaaaaa;
	margin-bottom: 1em;
}


.services ul {
	padding: .5em;
}

.services li {
	display: inline; 
	list-style: none; 
	padding:0;
	
}

#header {
	background-image: url(../img/baum-2_dark.jpg);
	background-size: 100% Auto;
	background-repeat: no-repeat;
}


@media screen and (max-width: 1200px){
	
	#header {
		padding-top: 7em;
		padding-bottom: 0em;
	}
	
	.company {
		margin-bottom: 5em;
	}
}

