#kontakt {
	padding-top: 1em; 
	padding-bottom: 3em;
}

#kontakt img {
	height: 18em;
	margin-top: 1em;
}

@media screen and (max-width: 1200px){
		
	#kontakt {
		text-align: center;
	}
	
	#kontakt img {
		float: none!important;
		margin: auto;
		margin-top: 3em;
	}
}


