<div id="header">
	<div class="container">
		<div class="row">
			<div class="company baumkosmos col-lg-4 col-lg-offset-1 text-center">
				<img class="logo" src="img/logo-baumkosmos.png" alt="Arboristik Baumkosmos Logo">
				<span class="h1 font-green">Arboristik<br />Baumkosmos</span>
				<div class="services">
					Im Rahmen unseres Baumpflegebetriebs "Baumkosmos" bieten wir unter anderem folgende Leistungen:
					<ul>
						<li style="display: inline;"><a href="baumpflege/baumkontrolle">Baumkontrolle,</a></li>
						<li style="display: inline;"><a href="totholz">Totholzentfernung,</a></li>
						<li style="display: inline;"><a href="baumpflege/kronenpflege">Kronenpflege,</a></li>
						<li style="display: inline;"><a href="baumpflege/fassadenfreischnitt">Fassadenfreischnitt,</a></li>
						<li style="display: inline;"><a href="baumpflege/lichtraumschnitt">Lichtraumschnitt,</a></li>
						<li style="display: inline;"><a href="baumpflege/kronensicherung">Kronensicherung,</a></li>
						<li style="display: inline;"><a href="baumpflege/kronenreduktion">Kronenreduktion,</a></li>
						<li style="display: inline;"><a href="baumpflege/faellung">Fällung</a></li>
					</ul>
				</div>
			</div>
			
			<div class="company smartropes col-lg-4 col-lg-offset-2 text-center">
				<img class="logo" src="img/logo-smartropes.png" alt="Smart Ropes Höhenarbeiten Logo">
				<span class="h1 font-orange">Smart Ropes<br />Höhenarbeiten</span>
				<div class="services">
					Im Rahmen unseres Angebotes bzgl. Höhenarbeiten bieten wir:
					<ul>
						<li style="display: inline;"><a href="hoehenarbeiten/montagen">Montagen,</a></li>
						<li style="display: inline;"><a href="hoehenarbeiten/schulung">Schulungen,</a></li>
						<li style="display: inline;"><a href="hoehenarbeiten/unterlagen">Schulungsunterlagen und Grafiken</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
