<div id="header">
	<div class="container">
		<div class="row">
			<div class="company baumkosmos col-lg-4 col-lg-offset-1 text-center">
				<img class="logo" src="img/logo-baumkosmos.png" alt="Arboristik Baumkosmos Logo">
				<span class="h1 font-green">Arboristik<br />Baumkosmos</span>
				<div class="services">
					Im Rahmen unseres Baumpflegebetriebs "Arboristik Baumkosmos" bieten wir unter anderem folgende Leistungen:
					<ul>
						<li style="display: inline;">Baumkontrolle,</li>
						<li style="display: inline;">Totholzentfernung,</li>
						<li style="display: inline;">Kronenpflege,</li>
						<li style="display: inline;">Fassadenfreischnitt,</li>
						<li style="display: inline;">Lichtraumschnitt,</li>
						<li style="display: inline;">Kronensicherung,</li>
						<li style="display: inline;">Kronenreduktion,</li>
						<li style="display: inline;">Fällung</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
