<div id="header">
	<div class="container">
		<div class="row">
			<div class="company baumkosmos text-center">
				<img class="logo" src="img/logo-baumkosmos.png" alt="Arboristik Baumkosmos Logo">
				<span class="h1 font-green">Arboristik<br />Baumkosmos</span>
				<div class="services">
					Im Rahmen unseres Baumpflegebetriebs "Arboristik Baumkosmos" 
					bieten wir unter anderem folgende Leistungen:
					<ul>
						<li>Baumkontrollen,</li>
						<li>Kronenpflegen (darunter fallen auch</li>
							<li>Totholzentnahmen,</li>
							<li>Fassadenfreischnitte,</li>
							<li>Lichtraumschnitte und</li>
							<li>Kronenreduktionen),</li>
						<li>Kronensicherungen,</li>
						<li>Obstgehölzschnitt,</li>
						<li>Spezial Fällungen (auch auf beengten Räumen) und</li>
						<li>Notdienst bei Sturmschäden.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
